<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<h1>Todo</h1>
<a th:href="@{/todo}">Lista Todo</a>
<div>
    <p th:text="${todo.id}" /> <br />
    <p th:text="${todo.name}" /> <br />
    <p th:text="${todo.description}" /> <br />
    <p th:text="${todo.createdBy}" /> <br />
    <p th:text="${todo.validDate}" /> <br />

</div>
</body>
</html>