<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Todo List</h1>
<table>
    <tr th:each="todo: ${todoList}">
        <td>
            <a th:href="@{/todo/} + ${todo.id}" th:text="${todo.id}" />
        </td>
        <td th:text="${todo.name}"></td>
        <td th:text="${todo.description}"></td>
        <td th:text="${todo.createdBy}"></td>
        <td th:text="${todo.validDate}"></td>
    </tr>
</table>
<ul>
   <li th:each="todo: ${todoList}" th:text="${todo.id}"></li>
</ul>

<div th:each="todo: ${todoList}" style="border: 2px solid red; margin: 2px">
    <p th:text="${todo.id}"></p><br />
    <p th:text="${todo.name}"></p>
</div>

</body>
</html>